consul = "127.0.0.1:8500"

log_level = "warn"
template {
  // consul template to run 
  source      = "/var/consul/template/goreportcard.main.ctmpl"

  // consul output file to be updated with template run output
  destination = "/etc/goreportcard/main.production.ini"

  // commands to be executed after the destination file is updated. please look at it carefully.
  command = "TKPENV=production goreportcard -test && (reload toko-goreportcard || start toko-goreportcard || curl -X POST --data-urlencode \"payload={'icon_emoji' : ':explodeparrot:', 'channel':'go-graphql', 'username': 'goreportcard Consul Watch', 'parse' : 'full', 'text': '@channel *goreportcard* Error when RELOAD or START on $HOSTNAME PLEASE CHECK'}\" https://hooks.slack.com/services/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) || curl -X POST --data-urlencode \"payload={'icon_emoji' : ':explodeparrot:', 'channel':'goreportcard', 'username': 'goreportcard Consul Watch', 'parse' : 'full', 'text': '@channel *goreportcard* main.production.ini is misconfigured on $HOSTNAME TESTING'}\" https://hooks.slack.com/services/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"
  
  // this is by default 30s
  command_timeout = "90s"
}
