[[ define "content" ]]
    <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-4 is-hidden-mobile has-text-centered">
              <img id="gopherimage" src="/assets/gopherhat.jpg">
            </div>
            <div class="column is-8 content">
              <br>
              <h1 class="title">Page not found!</h1>
              <p>It seems like the page you are looking for is no longer here. Check the URL for typos, or click below to return to the homepage. If you think this is a mistake, please <a href="https://github.com/gojp/goreportcard/issues">open an issue on Github</a>.</p>
              <p><h3 class="subtitle"><a href="/">Back to grading Go repos</a></h3></p>
            </div>
        </div>
    </section>
    <style>
    #gopherimage {
        width: 200px;
        margin: 0;
        -webkit-animation:spin 2s linear infinite;
        -moz-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    </style>
[[ end ]]
