[[ define "content" ]]
    <section class="section">
        <div class="container">
            <h1 class="title">About</h1>
            <p>Go Report Card was initially developed during <a href="http://gophergala.com/blog/gopher/gala/2015/02/03/winners/">Gopher Gala 2015</a>. It is free, open source and run by volunteers. If you feel like there is something that could be improved, we encourage you to <a href="https://github.com/gojp/goreportcard">open an issue or contribute on GitHub</a>!</p>
            <hr>
            <h3 class="subtitle">Credits</h3>
            <p>The Go gopher on the home page was designed by <a href="http://reneefrench.blogspot.com/">Renée French</a>.</p>
            <p>Go Report Card relies on the excellent <a href="https://github.com/alecthomas/gometalinter">Go Meta Linter</a> tool.</p>
        </div>
    </section>
[[ end ]]
