[[ define "base" ]]
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Report Card | Go project code quality report cards</title>
    <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/goreportcard.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=[[ .google_analytics_key ]]"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '[[ .google_analytics_key ]]');
    </script>
    <style>
    .header .is-active {
        font-weight: bold;
    }
    </style>
</head>
<body>
<div id="notifications">
</div>
    <header class="header">
    <div class="container">
          <!-- Left side -->
          <div class="header-left">
            <a class="header-item" href="/">
              <h3 class="title">Go Report Card</h3>
            </a>
          </div>

          <!-- Hamburger menu (on mobile) -->
          <span class="header-toggle" data-target="header-menu">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <!-- Right side -->
          <div class="header-right header-menu" id="header-menu">
            <span class="header-item">
              <a href="/high_scores">High Scores</a>
            </span>
            <span class="header-item">
              <a href="https://github.com/gojp/goreportcard">GitHub</a>
            </span>
            <span class="header-item">
              <a href="/supporters"><b>Supporters</b></a>
            </span>
            <span class="header-item">
              <a href="https://patreon.com/goreportcard" style="color:green">Patreon</a>
            </span>
            <span class="header-item">
              <a href="/about">About</a>
            </span>
          </div>
        </div>
    </header>

[[ template "content" . ]]

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Go Report Card</strong> by
          <a href="https://twitter.com/shawnps">Shawn Smith</a> and
          <a href="https://twitter.com/ironzeb">Herman Schaaf</a>,
          authors of <a href="https://leanpub.com/productiongo">Production Go</a>.
      </p>
      <p>Sponsored by:</p>
       <p>
         <a style="border-bottom: none" href="https://www.dotcom-monitor.com/sponsoring-open-source-projects/">
           <img style="width: 50%; max-width: 200px;" src="/assets/dotcom-monitor-logo-brightGB.svg">
         </a>
       </p>

       <p>
         <a style="border-bottom: none" href="https://www.bairesdev.com/sponsoring-open-source-projects/">
           <img style="width: 50%; max-width: 200px;" src="/assets/bairesdev.png">
         </a>
       </p>

       <p>
         <a style="border-bottom: none" href="https://www.digitalocean.com?utm_medium=opensource&utm_source=goreportcard">
           <img style="width: 50%; max-width: 200px;" src="/assets/digitalocean.svg">
         </a>
       </p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js" integrity="sha256-ZSnrWNaPzGe8v25yP0S6YaMaDLMTDHC+4mHTw0xydEk=" crossorigin="anonymous"></script>
<script>
  $(function () {
    // Get all "header-toggle" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.header-toggle'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {
          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);
          // Toggle the class on both the "header-toggle" and the "header-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  })
</script>

</body>
</html>
[[ end ]]
