[[ define "content" ]]
    <section class="section">
        <div class="container">
            <h1 class="title">High Scores</h1>
            <table class="table">
              <thead>
                <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Go Files</th>
                <th>Score</th>
                </tr>
              </thead>
            <tbody>
            [[ range $index, $highScore := .HighScores ]]
              <tr>
              <td><a href="/report/[[ $highScore.Repo]]">[[ add $index 1 ]]</td></a>
              <td><a href="https://[[ $highScore.Repo ]]" rel="nofollow">[[ $highScore.Repo ]]</a></td>
              <td>[[ $highScore.Files ]]</td>
              <td>[[ formatScore $highScore.Score ]]</td>
              </tr>
            [[end]]
            </tbody>
            </table>
            <hr>
            <p>
                Reports generated for <strong>[[ .Count ]]</strong> unique repos so far.
            </p>
        </div>
    </section>
[[ end ]]
