[[ define "content" ]]
    <section class="section">
        <div class="container">
            <h1 class="title">Supporters</h1>
            <ul>
                <li><a href="https://digitalocean.com">Digital Ocean</a></li>
                <li><a href="https://cooperpress.com">Cooper Press</a></li>
                <li><a href="https://www.linkedin.com/in/sprkyco/">Cody Wood</a></li>
                <li>Pascal Wenger</li>
                <li>Jonas Kwiedor</li>
                <li>Michael Mayer</li>
            </ul>
        </div>
    </section>
[[ end ]]
