[[ define "footer" ]]
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p> 
        <strong>Go Report Card</strong> by
          <a href="https://twitter.com/shawnps">Shawn Smith</a> and 
          <a href="https://twitter.com/ironzeb">Herman Schaaf</a>,
          authors of <a href="https://leanpub.com/productiongo">Production Go</a>.
      </p>
      <p>Sponsored by:</p>
       <p>
         <a href="https://www.cooperpress.com">
           <img width="15%" src="/assets/cooperpress.png">
         </a>
       </p>
    </div>
  </div>
</footer>
[[ end ]]
