[[ define "footer" ]]
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p> 
        <strong>Go Report Card</strong> by
          <a href="https://twitter.com/shawnps">Shawn Smith</a> and 
          <a href="https://twitter.com/ironzeb">Herman Schaaf</a>.
      </p>
      <p>Sponsored by:</p>
      <p> 
        <a href="https://www.signalsciences.com">
          <img width="15%" src="/assets/signalsciences.png">
        </a>
      </p>
      <p>Protect your most critical web applications, APIs, and microservices.</p>
    </div>
  </div>
</footer>
[[ end ]]
