<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Report Card | Go project code quality report cards</title>
    <link rel="stylesheet" href="/assets/bulma.0.0.23.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '[[ .google_analytics_key ]]', 'auto');
      ga('send', 'pageview');

    </script>
    <style>
    .header .is-active {
        font-weight: bold;
    }
    </style>
</head>
<body>
    <header class="header">
    <div class="container">
          <!-- Left side -->
          <div class="header-left">
            <a class="header-item" href="/">
              <h3 class="title">Go Report Card</h3>
            </a>
          </div>

          <!-- Hamburger menu (on mobile) -->
          <span class="header-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>

          <!-- Right side -->
          <div class="header-right header-menu">
            <span class="header-item is-active">
              <a href="/high_scores">High Scores</a>
            </span>
            <span class="header-item">
              <a href="https://github.com/gojp/goreportcard">GitHub</a>
            </span>
            <span class="header-item">
              <a href="/about">About</a>
            </span>
          </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">High Scores</h1>
            <table class="table">
              <thead>
                <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Go Files</th>
                <th>Score</th>
                </tr>
              </thead>
            <tbody>
            [[ range $index, $highScore := .HighScores ]]
              <tr>
              <td><a href="/report/[[ $highScore.Repo]]">[[ add $index 1 ]]</td></a>
              <td><a href="https://[[ $highScore.Repo ]]" rel="nofollow">[[ $highScore.Repo ]]</a></td>
              <td>[[ $highScore.Files ]]</td>
              <td>[[ formatScore $highScore.Score ]]</td>
              </tr>
            [[end]]
            </tbody>
            </table>
            <hr>
            <p>
                Reports generated for <strong>[[ .Count ]]</strong> unique repos so far.
            </p>
        </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
              <strong>Go Report Card</strong> by
                <a href="https://twitter.com/shawnps">Shawn Smith</a> and
                <a href="https://twitter.com/ironzeb">Herman Schaaf</a>.
          </p>
          <p>
              <a href="https://www.digitalocean.com/" class="dolink">
                  <img width="15%" src="/assets/do-proudly-hosted.png">
              </a>
          </p>
        </div>
      </div>
    </footer>
</body>
</html>
